.create-feedback-container {
  max-width: 54rem;
  margin: auto;
}

.create-feedback-box {
  padding: 4.2rem;
  margin-top: 7rem;
  background-color: white;
  border-radius: 1rem;
}

.new-feedback-icon {
  width: 5.6rem;
  margin-top: -7rem;
  margin-bottom: 2.4rem;
}

h1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.5rem;
  letter-spacing: -0.33px;
  color: var(--navy);
  margin-bottom: 4rem;
}

h4 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: -0.2px;
  color: var(--navy);
}

h4:not(:first-of-type) {
  margin-top: 2.4rem;
}

.instruction-text {
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--gray-dark);
  margin-bottom: 1.6rem;
}

.error-text {
  font-size: 1.4rem;
  color: var(--red);
  margin-top: 0.4rem;
}

.error-text:last-of-type {
  margin-top: -0.4rem;
}

.error-border {
  outline: 1px solid var(--red);
}

.blue-border {
  outline: 1px solid var(--blue);
}

input,
textarea {
  width: 100%;
  padding: 1.3rem 2.4rem;
  font-size: 1.5rem;
  color: var(--navy);
  background-color: var(--gray-light);
  border: none;
  border-radius: 0.5rem;
}

input:focus {
  outline: 1px solid var(--blue);
}

textarea {
  height: 10rem;
  resize: none;
}

textarea:focus {
  outline: 1px solid var(--blue);
}

.status-container {
  margin-top: 2.4rem;
}

.category-menu-box,
.status-menu-box {
  position: relative;
}

.btn-feedback-category,
.btn-feedback-status {
  width: 100%;
  padding: 1.3rem 2.4rem;
  font-size: 1.5rem;
  color: var(--navy);
  background-color: var(--gray-light);
  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-feedback-category img,
.btn-feedback-status img {
  transition: all 0.2s;
}

.btn-feedback-category span,
.btn-feedback-status span {
  text-transform: capitalize;
}

.category-menu {
  width: 100%;
  background-color: white;
  box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.350492);
  border-radius: 1rem;
  line-height: 2.5rem;

  position: absolute;
  top: 6rem;
  z-index: 10;
}

.category-menu li {
  font-size: 1.6rem;
  color: var(--gray-dark);
  padding: 1.2rem 2.4rem;
  transition: all 0.2s;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category-menu li:hover {
  color: var(--violet);
}

.category-menu li:not(:last-child) {
  border-bottom: 1px solid rgba(58, 67, 116, 0.15);
}

.category-menu-item img {
  pointer-events: none;
}

.feedback-buttons-box {
  margin-top: 4rem;

  display: flex;
  gap: 1.6rem;
}

.feedback-buttons-box button:first-of-type {
  margin-right: auto;
}

.error-text {
  color: var(--red);
}
