.attribution {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  color: var(--navy);
  margin-top: 3rem;
}

.attribution a:link,
a:visited {
  text-decoration: none;
  color: var(--violet);
}

@media (hover: hover) {
  .attribution a:hover {
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .attribution {
    font-size: 1.4rem;
  }
}

@media (max-width: 425px) {
  .attribution {
    font-size: 1.3rem;
  }
}
