.btn {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2rem;
  padding: 1.2rem 2.5rem;
  border-radius: 1rem;
  transition: background-color 0.2s;
}

.btn:active {
  scale: 0.98;
}

.add-feedback {
  color: white;
  background-color: var(--violet);
}

.add-feedback:hover {
  background-color: var(--violet-hover);
}

.edit-feedback {
  color: var(--gray);
  background-color: var(--blue);
}

.edit-feedback:hover {
  background-color: var(--blue-hover);
}

.post-comment {
  color: white;
  background-color: var(--violet);
}

.post-comment:hover {
  background-color: var(--violet-hover);
}

.post-reply,
.add-feedback {
  color: white;
  background-color: var(--violet);

  flex-shrink: 0;
}

.post-reply:hover,
.add-feedback:hover {
  background-color: var(--violet-hover);
}

.cancel {
  color: white;
  background-color: var(--navy);
}

.cancel:hover {
  background-color: var(--navy-hover);
}
