.comment-box {
  margin-bottom: 3.2rem;

  display: flex;
  align-items: flex-start;
  gap: 3.2rem;
}

.comment-box img {
  width: 4rem;
  border-radius: 50%;
}

.comment-details {
  width: 100%;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: -0.2px;
  color: var(--navy);
}

.username {
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--gray-dark);
}

.btn-reply {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.9rem;
  color: var(--blue);
  transition: all 0.2s;
}

.btn-reply:hover {
  text-decoration: underline;
}

.content {
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: var(--gray-dark);
  margin-top: 1.7rem;
}

.reply {
  width: 95%;
  margin-left: auto;
}

.reply-to {
  font-weight: 700;
  color: var(--violet);
}

.reply-input-box {
  margin-top: 2.4rem;

  display: flex;
  align-items: flex-start;
  gap: 1.6rem;
}

.reply-input {
  width: 100%;
  height: 8rem;
  padding: 1.6rem 2.4rem;
  font-size: 1.5rem;
  color: var(--navy);
  background-color: var(--gray-light);
  border-radius: 0.5rem;
  border: none;
  resize: none;
}

.reply-input::placeholder {
  color: #8c92b3;
}

.reply-input:focus {
  outline: 1px solid var(--blue);
}
