.sidebar-wrapper {
  max-width: 25rem;
}

.sidebar-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.sidebar-box > div {
  padding: 2.4rem;
  border-radius: 1rem;
}

.logo-box {
  height: 13.7rem;
  background-image: url(/public/assets/suggestions/desktop/background-header.png);

  display: flex;
  flex-direction: column;
}

.logo-box-mobile {
  display: none;
}

.logo-text-wrapper {
  margin-top: auto;
}

.logo-text {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  letter-spacing: -0.25px;
  color: white;
  margin-top: auto;
}

.logo-subtext {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: rgba(255, 255, 255, 0.75);
}

.menu-icon {
  display: none;
}

.keywords-box {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.keyword {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.9rem;
  color: var(--blue);
  padding: 0.5rem 1.5rem;
  background-color: var(--gray);
  border-radius: 1rem;
  transition: all 0.2s;
  cursor: pointer;
}

.roadmap-box {
  background-color: white;
}

.roadmap-title-box {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6rem;
  letter-spacing: -0.25px;
  color: var(--navy);
}

.view {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.9rem;
  text-decoration: underline;
  color: var(--blue);
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
}

.roadmap-list {
  margin-top: 2.5rem;
}

.roadmap-list li {
  color: var(--gray-dark);
  line-height: 3rem;

  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.roadmap-list li::before {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
}

.planned::before {
  background-color: var(--orange);
}

.in-progress::before {
  background-color: var(--violet);
}

.live::before {
  background-color: var(--blue-light);
}

.item-name {
  font-size: 1.6rem;
}

.item-amount {
  font-size: 1.6rem;
  font-weight: 700;
  margin-left: auto;
}

.selected {
  color: white;
  background-color: var(--blue);
}

@media (hover: hover) {
  .keyword:hover {
    background-color: var(--gray-hover);
  }

  .view:hover {
    color: var(--blue-hover);
  }
}

@media (max-width: 768px) {
  .sidebar-wrapper {
    max-width: unset;
  }

  .sidebar-box {
    max-width: 100%;
    flex-direction: row;
  }

  .sidebar-box > div {
    width: 33.3%;
  }

  .logo-box {
    height: auto;
    background-image: url(/public/assets/suggestions/tablet/background-header.png);
    background-size: cover;
  }
}

@media (max-width: 425px) {
  .sidebar-box {
    width: 75%;
    height: 100%;
    padding: 2.4rem;
    background-color: var(--gray-light);
    flex-direction: column;
    position: fixed;
    top: 10rem;
    left: 100%;
    z-index: 10;
    transition: all 0.3s;
  }

  .sidebar-menu-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 10rem;
    left: 0;
    z-index: 10;
  }

  .sidebar-box > div {
    width: 100%;
  }

  .logo-box {
    display: none;
  }

  .logo-box-mobile {
    width: 100%;
    padding: 2.4rem;
    background-image: url(/public/assets/suggestions/mobile/background-header.png);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-text {
    font-size: 1.5rem;
  }

  .logo-subtext {
    font-size: 1.3rem;
  }

  .menu-icon {
    display: block;
  }

  .sort-box {
    font-size: 1.3rem;
  }
}

.left {
  left: 25%;
}

.fixed {
  position: fixed;
}
