.suggestions-page {
  width: 100%;
}

header {
  padding: 1.5rem;
  margin-bottom: 2.4rem;
  background-color: var(--navy-dark);
  border-radius: 1rem;
  position: relative;

  display: flex;
  align-items: center;
  gap: 3.8rem;
}

.suggestions-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.suggestions-text-box {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.bulb-icon {
  margin: 0 1rem;
}

.suggestions-text-box span {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6rem;
  letter-spacing: -0.25px;
  color: white;
}

.sort-box {
  margin-right: auto;
  color: var(--gray);
  background-color: transparent;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sort-box span {
  transition: all 0.2s;
}

.sort-box svg {
  stroke: var(--gray);
  transition: all 0.2s;
}

.sort-category {
  font-weight: 700;
}

.sort-menu {
  width: 25rem;
  background-color: white;
  box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.350492);
  border-radius: 1rem;
  line-height: 2.5rem;

  position: absolute;
  top: 9rem;
  left: 23rem;
}

.sort-menu li {
  font-size: 1.6rem;
  color: var(--gray-dark);
  padding: 1.2rem 2.4rem;
  transition: all 0.2s;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sort-menu li:not(:last-child) {
  border-bottom: 1px solid rgba(58, 67, 116, 0.15);
}

.menu-item img {
  pointer-events: none;
}

.no-feedback-box {
  height: 45rem;
  background-color: white;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-feedback-title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: -0.33px;
  margin: 5rem 0 1.2rem 0;
  color: var(--navy);
}

.no-feedback-text {
  max-width: 41rem;
  font-size: 1.6rem;
  line-height: 2.3rem;
  text-align: center;
  color: var(--gray-dark);
  margin-bottom: 5rem;
}

@media (hover: hover) {
  .sort-box:hover span {
    opacity: 0.75;
  }

  .sort-menu li:hover {
    color: var(--violet);
  }

  .sort-menu li:hover {
    color: var(--violet);
  }
}

@media (max-width: 768px) {
  .suggestions-page-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .suggestions-page-wrapper {
    gap: 10rem;
  }

  header {
    padding: 1.5rem 2.4rem;
    margin-bottom: 1rem;
    border-radius: 0;

    gap: 0;
  }

  .suggestions-container {
    padding: 2.4rem;
  }

  .suggestions-text-box {
    display: none;
  }

  .sort-menu {
    width: 95%;
    top: 9rem;
    left: 1rem;
  }

  .no-feedback-title {
    font-size: 1.8rem;
  }

  .no-feedback-text {
    font-size: 1.3rem;
  }
}
