.suggestions-page {
  width: 100%;
}

header {
  padding: 1.5rem;
  margin-bottom: 2.4rem;
  background-color: var(--navy-dark);
  border-radius: 1rem;

  display: flex;
  align-items: center;
  gap: 3.8rem;
}

.suggestions-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.suggestions-text-box {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.bulb-icon {
  margin: 0 1rem;
}

.suggestions-text-box span {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6rem;
  letter-spacing: -0.25px;
  color: white;
}

.sort-box {
  margin-right: auto;
  color: var(--gray);
  background-color: transparent;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sort-box span {
  transition: all 0.2s;
}

.sort-box:hover span {
  opacity: 0.75;
}

.sort-box svg {
  stroke: var(--gray);
}

.sort-category {
  font-weight: 700;
}

.no-feedback-box {
  height: 45rem;
  background-color: white;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-feedback-title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: -0.33px;
  margin: 5rem 0 1.2rem 0;
  color: var(--navy);
}

.no-feedback-text {
  max-width: 41rem;
  font-size: 1.6rem;
  line-height: 2.3rem;
  text-align: center;
  color: var(--gray-dark);
  margin-bottom: 5rem;
}
